
:root {
    --prinary-color: #54bf59;
    --text-color: #00FF00;
}


.header a {
    color: var(--text-color);
}

.header-right {
    font-size: 1.5rem;
}

.content {
    display: flex;
    align-items: center;
    background-color: var(--prinary-color);
    position: relative;
    height: 40rem;
}


.content-logo {
    font-size: 5rem;
    margin-left: 10%;

}

.content-logo h2 {
    font-size: 2rem;
    text-align: left;
    padding: 20rem;
}


.content-login {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    right: 10%;

}

.input > span {
    margin-left: 45%;
    margin-top: 1rem;
    color: red;
    display: block;
}

.input-text {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
}

.input-text label {
    display: inline-block;
    min-width: 10rem;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.input-text input {
    border: .1rem solid rgba(0, 0, 0, 0.5);
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    height: 3rem;
    padding: 1rem;
    margin-left: auto;
    text-transform: initial;
}

.btn-input {
    display: block;
    margin: 2rem auto;
    background: transparent;
    border: 1px solid var(--prinary-color);
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
}


.btn-input:hover {
    color: #fff;
    background-color: var(--prinary-color);
    cursor: pointer;
}


.content-login > span {
    text-align: center;
    display: block;
    font-size: 1.2rem;
}

.content-login span a {
    color: var(--prinary-color);
}



