

@media only screen and (max-width: 1023px) {
    

    .header {
        position: relative;
    }
    
    .especially-product img {
        width: 30rem;
        height: 20rem;
        object-fit: cover;
    }

    .header-button {
        flex: 0;
        display: flex;
    }

    /* menu */
    .menu-bar {
        display: none;
    }


    /* login */
    .content-logo {
        display: none;
    }

    .content-login {
        right: 50%;
        transform: translateX(50%);
    }

}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .header {
        padding: 0 1rem;
    }

    .btn {
        width: 10rem;
    }
}

@media only screen and (max-width: 739px) {

    /*  new product */

    .especially-product {
       flex-direction: column;
   }

   .header {
       padding: 0 1rem;
   }

   .header-logo {
        font-size: 2rem;
    }

    .header-button .btn {
        border-radius: 2.5rem;
        width: 9rem;
    }

    .info-product-new {
        margin-left: 0;
    }

    /* menu mobile */
    .menu-bar {
        position: absolute;
        top: 108%;
        right: 2rem;
        background-color: #fff;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        z-index: 999999;
        font-size: 2rem;
        border-radius: 1rem;
    }

    .header-menu {
        position: absolute;
        top: 120%;
        right: 2rem;
        z-index: 99999;
        display: none;
    }

    .header-menu.active {
        display: block;
    }

    .header-menu > ul{
       flex-direction: column;
        width: 20rem;
        gap: 1rem;
        border-radius: 2rem;
        background: #fff;
    }

    .header-menu > ul > li {
        flex: 1;
        width: 100%;
    }

    .header-menu ul li .menu-child {
        top: 0;
        left: calc(-71% + -1rem);
        width: 100%;
    }

    .menu-child::before {
        width: 2rem;
        height: 100%;
        left: 100%;
    }

    .menu-bar i {
        color: var(--prinary-color);
    }

    .new-product {
        padding: 0 1rem;
    }

    .footer {
        text-align: center;
    }

}


@media only screen and (min-width: 1024px) {

    .menu-bar {
        display: none;
    }

    .menu-child li:first-child {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }
    
    .menu-child li:last-child {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

}

